.well.well-large
  .container-fluid
    .row-fluid
      .span12#on-success
  .row-fluid
    .span8.offset2
      %table
        %tr
          %td
            %h3 title:
          %td
            %h3
              = link_to @submission.title, twitter_name_path(@submission.twitter)
        %tr
          %td
            %h4 twitter_url
          %td
            %h4
              = twitter_link(@submission, class: "btn btn-info")
        %tr
          %td
            %p.lead body
          %td
            %p.lead
              = @submission.body
        %tr
          %td
            %p.lead email
          %td
            %p.lead
              = @submission.email
  %hr          
  %ol
  - @submission.soundclouds.each do |song|
    %li
      =song.title
      |
      %b
        =song.url

  %hr
  .row-fluid
    .span12
      .hero-unit
        %h1
          = @article.title
        %p
          = @article.body.html_safe
= button_to "Publish to SEAINHD?", submission_publisher_path(@submission), id: "confirm-publish", remote: :true, class: "btn btn-block btn-large btn-danger"
