= simple_form_for @submission do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg

  = f.label "Band/Artist Name"
  %br
  = f.input_field :title

  %p
    = label_tag :youtube_url, nil,  class: "add"
    = fields_for :youtube do |youtube|
      = youtube.text_field 1, id: "youtube-1", class: "youtube" , size: 50
  %p
    = label_tag :soundcloud_url, nil,  class: "add"
    = fields_for :soundcloud do |soundcloud|
      = soundcloud.text_field 1, id: "soundcloud-1", class: "soundcloud", size: 50
  %p
    = label_tag :bandcamp_url, nil,  class: "add"
    = fields_for :bandcamp do |bandcamp|
      = bandcamp.text_field 1, id: "bandcamp-1", class: "bandcamp", size: 50
  %p
    = f.label "BIO"
    %br
    = f.input_field :body, {cols: 70, rows: 10 }
  %br
  = f.button :submit


= render partial: "add_fields"
