.container
  = simple_form_for @submission do |f|
    = f.input :title, label: "Band/Artist Name"
    = f.input :twitter, placeholder: "twitter username"
    = f.input :email, placeholder: "booking/press email"
    .input.required
      %label Soundcloud URLs
      = simple_fields_for :soundcloud do |soundcloud|
        = soundcloud.text_field 1, id: "soundcloud-1", placeholder: "http://www.soundcloud.com/artist-name/song-name", class: "soundcloud"
        = soundcloud.text_field 2, id: "soundcloud-2", placeholder: "http://www.soundcloud.com/artist-name/song-name", class: "soundcloud"
        = soundcloud.text_field 3, id: "soundcloud-3", placeholder: "http://www.soundcloud.com/artist-name/song-name", class: "soundcloud"
    = f.input :body, label: "BIO"
    = f.button :submit, 'Submit!', class: "btn"