.row-fluid
  %button.btn.btn-mini.btn-inverse.pull-right
    = "##{submission_counter + 1}"
  = link_to submission do
    %p.lead
      = submission.title
  %h5
    = submission.body[0,200]
  = link_to "Comments", submission_path(submission, anchor: 'disqus_thread'), class: "label"
  = link_to "posted #{time_ago_in_words(submission.created_at)} ago", submission_path(submission), class: "label"
  = link_to "by #{submission.twitter.to_s}", twitter_name_path(submission.twitter), class: "label"
  = content_tag :span, class: "label" do
    PageViews:
    = submission.view_count
  - submission.soundclouds.each do |song|
    %div{class: "#{song.type.downcase}", data:{url: "#{song.url}" }}
      = soundcloud_link(song.url)
%hr
