- @submissions.each do |submission|
  %p.lead
    = link_to submission.title, submission
  %p
    = submission.body
  %ul.unstyled
  - submission.soundclouds.each do |song|
    %li
      = "SongUrl: #{song.url}, PlayCount: #{song.play_count}"
  %hr
