- if current_admin
  .row-fluid
    .span6
      = link_to "Publish?", submission_publisher_path(@submission), class: "btn btn-large btn-block btn-success"
    .span6
      = link_to "Remove?", submission_path(@submission), method: :delete, confirm: "Are you sure?", class: "btn btn-large btn-block btn-inverse"

  %h4
    = "#{@submission.view_count} Views"
.row-fluid
  .span6
    - if @submission.previous
      = link_to "<<< Previous Submission", submission_path( @submission.previous ), class: "btn btn-inverse btn-mini btn-block"
      
  .span6
    - if @submission.next
      = link_to "Next Submission >>>",submission_path( @submission.next ), class: "btn btn-inverse btn-mini btn-block"  

%h1 
  = link_to @submission.title, @submission
%p.lead
  = @submission.body
%p
  = "submitted #{time_ago_in_words @submission.created_at} ago"
%p
  -  @submission.soundclouds.each_with_index do |item, index|
    = ( javascript_tag("$.get('#{resolve_song_path(item)}')") ) if item.need_details?
    %span{class: "#{item.type.downcase}", id: "#{item.type.downcase}-#{index}", data: {soundcloud: item.url}}
      = item.url
%p  
= render partial: "shared/comments", locals: {item: @submission}

%meta{:content => "summary", :name => "twitter:card"}/
%meta{:content => "@seainhd", :name => "twitter:site"}/
%meta{:content => "#{@submission.title}", :name => "twitter:title"}/
%meta{:content => "#{@submission.body}", :name => "twitter:description"}/
%meta{:content => "@seainhd", :name => "twitter:creator"}/
%meta{:content => "http://new.seainhd.com", :name => "twitter:domain"}/

