
%h1
  = link_to @submission.title, @submission
.pull-right#votes
  .btn-group
    %button.btn.btn-inverse
      %i.icon-volume-down.icon-white
    %button.btn.btn-inverse
      %i.icon-volume-up.icon-white
%blockquote
  %h3
    = @submission.body
%p
  = time_ago_in_words @submission.created_at
%p
  -  @submission.soundclouds.each_with_index do |item, index|
    %span{class: "#{item.type.downcase}", id: "#{item.type.downcase}-#{index}", data: {soundcloud: item.url}}
      = item.url
%p
= render partial: "shared/comments"

%meta{:content => "summary", :name => "twitter:card"}/
%meta{:content => "@seainhd", :name => "twitter:site"}/
%meta{:content => "#{@submission.title}", :name => "twitter:title"}/
%meta{:content => "#{@submission.body}", :name => "twitter:description"}/
%meta{:content => "@seainhd", :name => "twitter:creator"}/
%meta{:content => "http://new.seainhd.com", :name => "twitter:domain"}/
