%h1
  = link_to @submission.title, @submission
.pull-right#votes
  .btn-group
    %button.btn.btn-inverse
      %i.icon-volume-down.icon-white
    %button.btn.btn-inverse
      %i.icon-volume-up.icon-white
%blockquote
  %h3
    = @submission.body
%p
  = time_ago_in_words @submission.created_at
%p
  -  @submission.soundclouds.each_with_index do |item, index|
    %span{class: "#{item.type.downcase}", id: "#{item.type.downcase}-#{index}", data: {soundcloud: item.url}}
      = item.url
%p
= render partial: "shared/comments"
