- if current_admin
  = link_to "Ready to Publish?", submission_publisher_path(@submission), class: "btn btn-large btn-block btn-success"


%h1
  = link_to @submission.title, @submission
.pull-right#votes
  .btn-group
    %button.btn.btn-inverse
      %i.icon-volume-down.icon-white
    %button.btn.btn-inverse
      %i.icon-volume-up.icon-white
%blockquote
  %h3
    = @submission.body
%p
  = time_ago_in_words @submission.created_at
%p
  -  @submission.soundclouds.each_with_index do |item, index|
    %span{class: "#{item.type.downcase}", id: "#{item.type.downcase}-#{index}", data: {soundcloud: item.url}}
      = item.url
%p
  - @submission.youtubes.each_with_index do |item, index|
    = item.inspect
    .video-container
      %iframe#ytplayer{:frameborder => "0", :height => "450", :src => "http://www.youtube.com/embed/M7lc1UVf-VE?modestbranding=1&autohide=1&autoplay=0&origin=http://new.seainhd.com", :type => "text/html", :width => "640"}
%p  
= render partial: "shared/comments", locals: {item: @submission}

%meta{:content => "summary", :name => "twitter:card"}/
%meta{:content => "@seainhd", :name => "twitter:site"}/
%meta{:content => "#{@submission.title}", :name => "twitter:title"}/
%meta{:content => "#{@submission.body}", :name => "twitter:description"}/
%meta{:content => "@seainhd", :name => "twitter:creator"}/
%meta{:content => "http://new.seainhd.com", :name => "twitter:domain"}/

