%h1
  = @submission.title
.pull-right
  %button.btn stuff!
%blockquote
  %h3
    = @submission.body
%p
  = time_ago_in_words @submission.created_at
%p
  -  @submission.soundclouds.each_with_index do |item, index|
    %span{class: "#{item.type.downcase}", id: "#{item.type.downcase}-#{index}", data: {soundcloud: item.url}}
      = item.url
%p
= render partial: "shared/comments"
