<!DOCTYPE html>
<html>
<head>
  <title>Moist Grind - The Newest Music in Your Life.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js", "//connect.soundcloud.com/sdk.js" %>

  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, feed_url(format: :rss), {title: "SEAINHD RSS"}) %>
</head>
<body>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
