<!DOCTYPE html>
<html>
<head>
  <title>MusicNews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/2.3.2/journal/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js", "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse">
  <%= render 'shared/navigation' %>
</div>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render 'shared/footer' %>

</body>
</html>
