<!DOCTYPE html>
<html>
<head>
  <title>Wake and Shake.</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="og:title" content="Wake and Shake" >
  <meta property="og:description" content="Wake and Shake helps you create playlists. Come listen to random music until you like something, or submit soundcloud tracks to your own playlists." >
  <meta property="og:type" content="music.radio_station" >
  <meta property="og:image" content="" >
  <meta property="og:url" content="http://new.seainhd.com">
  <meta property="og:music:creator" content="http://blairanderson.co" >
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "//connect.soundcloud.com/sdk.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
