!!!
%html
  %head
    %title That Music Blog
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    = tag :meta, content: t('meta.og.title'), property: "og:title"
    = tag :meta, content: t('meta.og.description'), property: "og:description"
    = tag :meta, content: t('meta.og.type'), property: "og:type"
    %meta{content: "", property: "og:image"}/
    %meta{content: "http://new.seainhd.com", property: "og:url"}/
    %meta{content: "http://blairanderson.co", property: "og:music:creator"}/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,800'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'blog'
    = csrf_meta_tags
  %body
    = render 'blog/navigation'
    #player-row
    - if content_for :sidebar
      .container
        .row
          .col-xs-12
            = render 'blog/notices'
        .row.no-gutters
          .col-xs-12.col-sm-8
            = yield
          .col-xs-12.col-sm-4
            = yield :sidebar
    - else
      .row
        = render 'blog/notices'
        .col-xs-12
          = yield

    .container
      .row
        .col-xs-12
          = render 'blog/footer'
  = javascript_include_tag 'application', 'https://connect.soundcloud.com/sdk.js'
